h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 10px 50px;
}

.bold-paragraph {
  color: blue;
}

#bold {
  color: black;
}

img {
  width: 100%;
}
